<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Gallery</title>
    <link rel="stylesheet" href="/static.super.css">
</head>

<body>
    <h1>Superhero News</h1>
    <p><a href="/admin/">Django Admin Views</a></p>
    <p><a href="/hero/">List of Heros</a></p>
    <a href="hero/Hulk">Hulk Profile</a>
    <a href="hero/IronMan">Iron Man Profile</a>
    <a href="hero/Widow">Black Widow Profile</a>
</body>

</html>