<!DOCTYPE html>
<html lang="en">
<link rel="Stylesheet" href = "CSSTest.css">
<title> Tab Title </title>
<link rel="icon" type="image/png" href="/static/images/chickenIcon.png"/>

<body>
    <hearder>
        <img src="/static/images/Logo.png" alt="Logo" width="500" height="100">
        <h1><p style="color:cyan;font-size:50px">Welcome to Nate's Wesbite</p> </h1>
    </hearder>


    <div class = "grid">
        <figure class = "frame">
            <img src="/static/images/chick1.jpg">
            <figcaption class = "pic-text"> Cute Chicken!</figcaption>
        </figure>
        <figure class = "frame">
            <img src="/static/images/chick2.png">
            <figcaption class = "pic-text"> Fat Chicken!</figcaption>
        </figure>
        <figure class ="frame" >
            <img src="/static/images/chick3.png">
            <figcaption class = "pic-text"> Fried Chicken!</figcaption>
        </figure>
    </div>

    <main style="color:rgb(6, 71, 201)"> 
        <h1 style="color:rgb(255, 174, 0);font-size:40px">This is the Main Section!!</h1>
        <ul>
            <p> Here is an unordered list of things from Chick Fil A</p>
            <li>Spicy Deluxe</li>
            <li>Chicken Nuggets</li>
            <li>Chick Fil A Sauce</li>
        </ul>
        
        <p> <h3 style="color:rgb(4, 156, 42) "> Here is an ordered list of the best things from Panda Express</p>
        <ol>
            <li>Orange Chicken</li>
            <li>Kung Pow Chicken</li>
            <li>Wantons</li>
        </ol> </h3>

        <p>Here are the definitions of interesting words:</p>
        <dl>
            <dt>Yawner</dt>
            <dd>This is a person who Yawns</dd>
            <dt>Agelast</dt>
            <dd>A person who never laughs</dd>
        </dl>
        <p style="color:rgb(255, 0, 212);">Need Help or Life Advice? Mr.Meow can Help! Pet him for advice  <a href = "https://www.google.com/" > <img src="images/cat.gif" alt="Meow" width="100" height="100"></a> </p>
    </main>

    <footer style="color:rgb(0, 255, 221);"> 
        <p style="color:rgb(255, 0, 0);">Need Money Laundered? Come Visit Us! </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8084482.303436115!2d-84.60334715297978!3d8.352262073007717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa61583c8be2be3%3A0x79eee04d1fa59bcf!2sPanama!5e0!3m2!1sen!2sus!4v1613502121383!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>        
        <p>Alexa, Play Despacito</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kJQP7kiw5Fk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p style="font-family:Brush Script MT; font-size:30px"> This is the footer </p>
        <p style="font-family:'verdana';font-size:20px"> If you have an issue with this website please place comments  <a href = "trash.html" > HERE</a> </p>
        <!-- <img src="trash.png" alt="Trash" width="400" height="233"></p> -->
        <p style="font-family:'verdana';font-size:20px"> Or Email us at:
        <a href ="mailto:YourCommentsAreWorthNothing@gmail.com" > Feedback@natecorp.com</a> </p>
        <p style="font-family:'verdana';font-size:20px"> Lonely? Call us!
            <a href ="tel:+19701234567" > (970)123-4567</a> </p>
        <p>Images taken from google without permission</p>
    </footer>

</body>


</html>